body {background-color: #9E9E9E;}

.fundo {
width: 900px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

#playButton {
width: 150px;
height: 50px;
position: fixed;
top: 200px;
left: 615px;
cursor: pointer;
}

#txtLoading {
text-align: center;
position: fixed;
top: 200px;
left: 615px;
font-size: 30px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: none;
}